body {
    background-color: #B0C4DE;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px;
}
h5 {
    line-height: 30px;
    text-align: left;
}
ol {
    padding-top: 10px;
}
.col-md-9 strong {
    font-size: 25px;
}
.col-md-9 p {
    font-size: 20px;
    padding-top: 10px;
}
.title {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.title:hover {
    color: red;
}

.navbar-nav {
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1315px;
    }
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 4rem 6rem;
        background-color: #E6E6FA;
    }
}
.carousel-inner img {
    width: auto;
    height: 600px;
}
.col-md-9, .col-md-3, .col-md-6 {
    padding-top: 30px;
}
.col-md-3 img {
    width: 100%;
    height: 100%;
}
.col-md-6 img {
    width: 100%;
    height: 100%;
}
.pop {
    margin: 0 auto;
}

.modal-content {
    width: 200%;
}

.modal-dialog {
    margin-right: 50%;
}